@import './reset.css';

.main { height: 100vh; margin: 0; --x: calc(var(--posX, 0) * 1px); --y: calc(var(--posY, 0) * 1px); background:
radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), #F8E651, #FAAC37),
radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), #fff, #FAAC37),
radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(020 175 125), #7B7DFD),
radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), #EC4636, #7B7DFD),
linear-gradient(60deg, rgb(255 000 000), rgb(0, 94, 255)); 
background-blend-mode: overlay, difference, difference, difference, difference; } 

/* ---------------- banner ------------------- */

section ul { padding-left: 1rem; list-style: none; } 

section li { flex-shrink: 0; padding-right: 1rem; } 

.df { display: flex } 
.aic { align-items: center } 
.jcc { justify-content: center } 

.wordsAll { overflow-x: hidden; padding-bottom: calc( 100vw * 50 / 1920 ); } 

.wrapper { display: flex; } 
.wrapper li { padding: calc( 100vw * 80 / 1920 ) calc( 100vw * 70 / 1920 ); font-size: calc( 100vw * 80 / 1920 ); box-shadow: calc( 100vw * 2 / 1920 ) calc( 100vw * 4 / 1920 ) calc( 100vw * 20 / 1920 ) #acacac85; }

/* .keywordAll article p { display: inline-block; padding: calc( 100vw * 35 / 1920 ) calc( 100vw * 45 / 1920 ); font-size: calc( 100vw * 30 / 1920 ); box-shadow: calc( 100vw * 2 / 1920 ) calc( 100vw * 4 / 1920 ) calc( 100vw * 20 / 1920 ) #acacac85; } */


/* ----------------- overview --------------------- */
.overview { height: 190vh; } 
.overview article { display: flex; justify-content: space-between; align-items: center; } 
.overview article { margin: calc( 100vw * 180 / 1920 ) 0; } 
.overview article div h3 { color: #EC4636; margin-bottom: calc( 100vw * 30 / 1920 ); font-size: calc( 100vw * 50 / 1920 ); font-family: LSpecial; } 
.overview article div p { width: calc( 100vw * 450 / 1920 ); line-height: 150%; } 
.overview article img { display: inline-block; width: 49%; box-shadow: calc( 100vw * 3 / 1920 ) calc( 100vw * 4 / 1920 ) calc( 100vw * 20 / 1920 ) #b0b0b085; } 

