@import './reset.css'; 

/* --------------- main background --------------- */
.main { height: 100vh; margin: 0; --x: calc(var(--posX, 0) * 1px); --y: calc(var(--posY, 0) * 1px); background:
radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), #F8E651, #FAAC37),
radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), #fff, #FAAC37),
radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(020 175 125), #7B7DFD),
radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), #EC4636, #7B7DFD),
linear-gradient(60deg, rgb(255 000 000), rgb(0, 94, 255)); background-blend-mode: overlay, difference, difference, difference, difference;  white-space: nowrap;  } 

/* --------------- main bracket ---------------------------- */
.firstShow { position: absolute; top: 43%; left: 35%; color: #3f2010; font-size: calc( 100vw * 110 / 1920 ); font-family: LSpecial; text-align: center; }
.show { display: inline-block; margin: 0 calc( 100vw * 27 / 1920 ); font-family: LBold; font-size: calc( 100vw * 35 / 1920 ); line-height: 135%; }

/* -------------- */
.main .confetti-layer { opacity: 0; transition: opacity 2s; overflow: hidden;} 

.main.active .confetti-layer { opacity: 1; } 

.bracket { position: relative; display: inline-block; vertical-align: middle;  text-shadow: 0 0 calc( 100vw * 4 / 1920 ) rgba(1, 1, 1, 0.185); animation: 7s confettiDrop linear infinite alternate; font-family: LSpecial; } 

.confetti-layer { position: absolute; left: 0; width: 100%; height: 100vh; text-align: center; } 

.confetti-layer.front { z-index: 3; } 
.confetti-layer.front .bracket { margin: 5% 2%; font-size: calc( 100vw * 190 / 1920 ); line-height: 150%; }
.confetti-layer.front .bracket:nth-child(even) { margin-top: 2%; } 

.bracket .bracketInner { display: inline-block; width: 0; color: #fff; font-size: calc( 100vw * 40 / 1920 ); font-family: LWhite; line-height: 140%; white-space: nowrap; overflow: hidden; transition: width .6s ease-out;  }
.confetti-layer.front .bracket:hover { animation-play-state: paused; z-index: 10; }
.confetti-layer.front .bracket:hover .bracketInner { width: 90%; }

.bracket .bracketInner .name { font-family: LBold; }
.bracket .bracketInner .innerColor { color: #3f2010; text-shadow: none; font-family: LBold;}

.confetti-layer.mid { z-index: 2; filter: blur(2px); } 
.confetti-layer.mid .bracket { height: calc( 100vw * 50 / 1920 ); margin: 10% 2.5%; font-size: calc( 100vw * 110 / 1920 ); opacity: .8; } 
.confetti-layer.mid .bracket:nth-child(odd) { margin-top: 0; } 

.confetti-layer.back { height: 90vh; z-index: 1; filter: blur(3px); } 
.confetti-layer.back .bracket { height: calc( 100vw * 50 / 1920 ); margin-top: calc( 100vw * 400 / 1920 ); font-size: calc( 100vw * 80 / 1920 ); opacity: .7; } 
.confetti-layer.back .bracket:nth-child(even) { margin: 20% 5%; } 

@keyframes confettiDrop { 
0% { transform: none; } 
}

/* ---------------- banner ------------------- */
.wordsAll { overflow-x: hidden; padding-bottom: calc( 100vw * 50 / 1920 ); } 

.wordsAll .wrapper { display: flex; } 
.wordsAll .wrapper li { position: relative; flex-shrink: 0; padding-right: 1rem; padding: calc( 100vw * 90 / 1920 ) calc( 100vw * 80 / 1920 ); font-size: calc( 100vw * 60 / 1920 ); box-shadow: calc( 100vw * 2 / 1920 ) calc( 100vw * 4 / 1920 ) calc( 100vw * 20 / 1920 ) #acacac85; } 
.wordsAll .wrapper li:hover { background: #faac3757; } 

.wordsAll .wrapper .keyLine { transition: all .4s;}

.wordsAll .wrapper .k0.active { width: calc( 100vw * 600 / 1920 ); padding: calc( 100vw * 45 / 1920 ) calc( 100vw * 80 / 1920 ); }
.wordsAll .wrapper .k1.active { width: calc( 100vw * 600 / 1920 ); padding: calc( 100vw * 45 / 1920 ) calc( 100vw * 80 / 1920 ); }
.wordsAll .wrapper .k2.active { width: calc( 100vw * 500 / 1920 ); padding: calc( 100vw * 45 / 1920 ) calc( 100vw * 80 / 1920 ); }
.wordsAll .wrapper .k3.active { width: calc( 100vw * 550 / 1920 ); padding: calc( 100vw * 45 / 1920 ) calc( 100vw * 80 / 1920 ); }
.wordsAll .wrapper .k4.active { width: calc( 100vw * 550 / 1920 ); padding: calc( 100vw * 45 / 1920 ) calc( 100vw * 80 / 1920 ); }

.wordsAll .wrapper li .keyword { transition: all .3s; }
.wordsAll .wrapper li .keyword.active { padding-bottom: calc( 100vw * 30 / 1920 ); font-family: LRegular; font-size: calc( 100vw * 47 / 1920 ); }

.wordsAll .wrapper li .keywordOver { opacity: 0; position: absolute; width: calc( 100vw * 600 / 1920 ); top: calc( 100vw * 140 / 1920 ); font-size: calc( 100vw * 20 / 1920 ); line-height: 140%; transition: all .3s; }
.wordsAll .wrapper li .keywordOver.active { opacity: 1; }


/* ----------------- overview --------------------- */
.overview { height: 180vh; } 
.overview article { display: flex; justify-content: space-between; align-items: center; margin: calc( 100vw * 140 / 1920 ) 0; padding-bottom: calc( 100vw * 100 / 1920 ); border-bottom: calc( 100vw * 2 / 1920 ) solid rgba(153, 153, 153, 0.279); } 
.overview article:last-child { border: none; } 
.overview article div h3 { color: #EC4636; margin-bottom: calc( 100vw * 30 / 1920 ); font-size: calc( 100vw * 50 / 1920 ); font-family: LSpecial; } 
.overview article div p { width: calc( 100vw * 490 / 1920 ); font-size: calc( 100vw * 19 / 1920 ); line-height: 155%; } 
.overview article div .overviewBtn { position: relative; padding: calc( 100vw * 1 / 1920 ) 0; margin: calc( 100vw * 20 / 1920 ) 0; color: #191919; background: transparent; border: none; font-family: LSpecial; font-size: calc( 100vw * 18 / 1920 ); cursor: pointer; transition: all .3s; }

.overview article div .overviewBtn:hover { color: #EC4636; } 
.overview article div .overviewBtn::after { content: ''; position: absolute; height: calc( 100vw * 2 / 1920 ); width: 0; transform: translateX(-50%); left: 50%; bottom: -15%; transition: .3s ease-out; background-color: #EC4636; }
.overview article div .overviewBtn:hover:after { width: 100%; }

.overview article .overview_img { width: calc( 100vw * 650 / 1920 ); height: calc( 100vw * 360 / 1920 );}
.overview article .overview_img img { position: absolute; top: 0; width: 100%; height: 100%; border-radius: calc( 100vw * 15 / 1920); box-shadow: calc( 100vw * 3 / 1920 ) calc( 100vw * 4 / 1920 ) calc( 100vw * 20 / 1920 ) #b0b0b085; }



/* ------------------ responsive --------------------- */

@media screen and (max-width: 768px) { 
    .main { display: flex; align-items: center; justify-content: center;}
    .firstShow { position: inherit; font-size: 45px; }
    .show { padding: 0 10px; font-size: 18px; }

    .wordsAll .wrapper li { padding: 25px 40px; font-size: 17px; }
    



    .overview { height: auto; margin-top: 60px;}
    .overview article { flex-direction: column; }
    .overview article div:first-child { margin-bottom: 30px; }
    .overview article div h3 { font-size: 27px; }
    .overview article div p { width: auto; font-size: 13px; }
    .overview article div .overviewBtn { font-size: 12px; }
    .overview article .overview_img { width: 100%; height: 180px;}
    .overview article .overview_img img { border-radius: 10px; }
}

@media screen and (min-width: 1024px) { body { } 
}

@media screen and (min-width: 1440px) { body { } 
}