@import './reset.css'; 

/* --------------- main background --------------- */
.main { height: 100vh; margin: 0; --x: calc(var(--posX, 0) * 1px); --y: calc(var(--posY, 0) * 1px); background:
radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), #F8E651, #FAAC37),
radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), #fff, #FAAC37),
radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(020 175 125), #7B7DFD),
radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), #EC4636, #7B7DFD),
linear-gradient(60deg, rgb(255 000 000), rgb(0, 94, 255)); background-blend-mode: overlay, difference, difference, difference, difference;  white-space: nowrap;  } 

/* --------------- main bracket ---------------------------- */
.main .confetti-layer { opacity: 0; transition: opacity 2s;overflow: hidden;} 

.main.active .confetti-layer { opacity: 1; } 

/* .bracket::before { content: '{ '; margin-right: calc( 100vw * 13 / 1920 ); font-family: LSpecial; z-index: 150; transition: all .3s; }
.bracket::after { content: ' }'; margin-right: calc( 100vw * 13 / 1920 ); font-family: LSpecial; z-index: 150; transition: all .3s;} */
.bracket { position: relative; display: inline-block; vertical-align: middle;  text-shadow: 0 0 calc( 100vw * 5 / 1920 ) rgba(26, 26, 26, 0.142); animation: 6s confettiDrop linear infinite alternate; font-family: LSpecial; } 

.confetti-layer { position: absolute; left: 0; width: 100%; height: 100vh; text-align: center; } 

.confetti-layer.front { z-index: 3; } 
.confetti-layer.front .bracket { margin: 10% 2%; font-size: calc( 100vw * 190 / 1920 );  line-height: 150%;}
.confetti-layer.front .bracket:nth-child(even) { margin-top: 2%; } 

.confetti-layer.front .bracket:hover { animation-play-state: paused; z-index: 10; }
.confetti-layer.front .bracket:hover .bracketInner { display: inline-block; }

.bracket .bracketInner { display: none; font-size: calc( 100vw * 30 / 1920 ); font-family: LBold; line-height: 160%; }
/* .bracket .bracketInner.innerActive { display: inline-block; } */
.bracket .bracketInner .name { color: rgba(0, 0, 0, 0.653); }

.confetti-layer.mid { z-index: 2; filter: blur(2px); } 
.confetti-layer.mid .bracket { height: calc( 100vw * 50 / 1920 ); margin: 10% 2.5%; font-size: calc( 100vw * 110 / 1920 ); opacity: .8; } 
.confetti-layer.mid .bracket:nth-child(odd) { margin-top: 0; } 

.confetti-layer.back { height: 90vh; z-index: 1; filter: blur(3px); } 
.confetti-layer.back .bracket { height: calc( 100vw * 50 / 1920 ); margin-top: calc( 100vw * 400 / 1920 ); font-size: calc( 100vw * 80 / 1920 ); opacity: .7; } 
.confetti-layer.back .bracket:nth-child(even) { margin: 20% 5%; } 

@keyframes confettiDrop { 
0% { transform: none; } 
}

/* ---------------- banner ------------------- */
.wordsAll { overflow-x: hidden; padding-bottom: calc( 100vw * 50 / 1920 ); } 

.wordsAll .wrapper { display: flex; } 
.wordsAll .wrapper li { flex-shrink: 0; padding-right: 1rem; padding: calc( 100vw * 90 / 1920 ) calc( 100vw * 80 / 1920 ); font-size: calc( 100vw * 60 / 1920 ); box-shadow: calc( 100vw * 2 / 1920 ) calc( 100vw * 4 / 1920 ) calc( 100vw * 20 / 1920 ) #acacac85; transition: all .4s; } 
.wordsAll .wrapper li:hover { background: #ec45363e; } 

/* ----------------- overview --------------------- */
.overview { height: 180vh; } 
.overview article { display: flex; justify-content: space-between; align-items: center; } 
.overview article { margin: calc( 100vw * 180 / 1920 ) 0; } 
.overview article div h3 { color: #EC4636; margin-bottom: calc( 100vw * 30 / 1920 ); font-size: calc( 100vw * 50 / 1920 ); font-family: LSpecial; } 
.overview article div p { width: calc( 100vw * 490 / 1920 ); font-size: calc( 100vw * 19 / 1920 ); line-height: 155%; } 
.overview article img { display: inline-block; width: 49%; box-shadow: calc( 100vw * 3 / 1920 ) calc( 100vw * 4 / 1920 ) calc( 100vw * 20 / 1920 ) #b0b0b085; } 

