@import './reset.css';header { background: rgba(224, 224, 224, 0.34); } 

.mainBanner { display: flex; align-items: center; height: 100vh; } 
.mainBanner article { width: 100%; display: flex; justify-content: space-between; align-items: center; } 

.mainBanner .introduce p { width: calc( 100vw * 530 / 1920 ); font-size: calc( 100vw * 23 / 1920 ); line-height: 130%; } 
.mainBanner .introduce p:first-child { margin-bottom: calc( 100vw * 20 / 1920 ); line-height: 180%; } 

.text-highlight { background-repeat: no-repeat; background-size: 0% 100%; transition: color calc(4s / 4) cubic-bezier(0.25, 1, 0.52, 1.1), background-color calc(4s / 4) cubic-bezier(0.25, 1, 0.52, 1.1), background-size 4s cubic-bezier(0.25, 1, 0.52, 1.1); transition-delay: .4s; } 
.lineActive { padding: 0 calc( 100vw * 6 / 1920 ); background-size: 100% 100%; background-image: linear-gradient(#FFD72F, #FFD72F); } 

.mainBanner .mainVisual { position: relative; margin-top: calc( 100vw * 160 / 1920 ); background: url(../source/iam_bannerBg.png) center center no-repeat; background-size: contain; width: calc( 100vw * 590 / 1920 ); height: calc( 100vw * 200 / 1920 ); } 
.mainBanner .mainVisual p { position: absolute; font-family: LSpecial; } 
.mainBanner .mainVisual p:first-child { top: calc( 100vw * -180 / 1920 ); left: calc( 100vw * 110 / 1920 ); transform: rotate(-13deg); font-size: calc( 100vw * 45 / 1920 ); } 
.mainBanner .mainVisual p:nth-child(2) { top: calc( 100vw * -140 / 1920 ); left: calc( 100vw * 270 / 1920 ); transform: rotate(-12deg); font-size: calc( 100vw * 60 / 1920 ); } 
.mainBanner .mainVisual p:nth-child(3) { top: calc( 100vw * -30 / 1920 ); left: calc( 100vw * 70 / 1920 ); transform: rotate(10deg); font-size: calc( 100vw * 33 / 1920 ); } 
.mainBanner .mainVisual p:nth-child(4) { top: calc( 100vw * -10 / 1920 ); left: calc( 100vw * 335 / 1920 ); transform: rotate(-4deg); font-size: calc( 100vw * 40 / 1920 ); } 

.mainVisual .visual_circle span { position: absolute; width: calc( 100vw * 30 / 1920 ); height: calc( 100vw * 30 / 1920 ); border-radius: 50%; } 
.mainVisual .visual_circle span:first-child { top: calc( 100vw * -120 / 1920 ); left: calc( 100vw * 40 / 1920 ); background: #EC4636; } 
.mainVisual .visual_circle span:nth-child(2) { top: calc( 100vw * -220 / 1920 ); left: calc( 100vw * 400 / 1920 ); background: #FFD72F; } 
.mainVisual .visual_circle span:nth-child(3) { top: calc( 100vw * -90 / 1920 ); left: calc( 100vw * 150 / 1920 ); background: #5344FF; } 
.mainVisual .visual_circle span:last-child { top: calc( 100vw * -60 / 1920 ); left: calc( 100vw * 480 / 1920 ); background: #EC4636; } 

/* ------------------ banner ----------------------- */
.introBanner { height: 45vh; background: url(../source/gradient2.jpg) center center no-repeat fixed; background-size: cover; } 
.introBanner article { height: 100%; display: flex; justify-content: flex-start; align-items: center; } 
.introBanner article p { font-size: calc( 100vw * 35 / 1920); line-height: 160%; } 

/* --------------- profile ---------------------- */
.profile { height: 100vh; padding-top: calc( 100vw * 200 / 1920 ); } 
.profile h2 { margin-bottom: calc( 100vw * 60 / 1920 ); color: #EC4636; font-size: calc( 100vw * 50 / 1920 ); font-family: LSpecial; } 
.profile article { display: flex; justify-content: space-around; align-items: stretch; } 

.profile .mainProfile { position: relative; margin-right: calc( 100vw * 120 / 1920 ); } 
.profile .mainProfile::before { content: ''; position: absolute; top: calc( 100vw * 130 / 1920 ); left: calc( 100vw * 40 / 1920 ); width: calc( 100vw * 320 / 1920 ); height: calc( 100vw * 320 / 1920 ); background: #ec4536; border-radius: 50%; z-index: -1; transition: all .3s; } 
.profile .mainProfile .profileImg { width: calc( 100vw * 480 / 1920 ); transition: all .3s; } 

.profile .profileInfo { display: flex; flex-wrap: wrap; justify-content: space-between; } 
.profile .profileInfo dl dt { margin-bottom: calc( 100vw * 25 / 1920 ); font-size: calc( 100vw * 25 / 1920 ); font-family: LSpecial; } 
.profile .profileInfo dl dd { font-size: calc( 100vw * 18 / 1920 ); line-height: 160%; } 

.profile .profileInfo dl.education .edu_year { display: inline-block; width: calc( 100vw * 70 / 1920 ); color: #00000078; font-family: LRegular; } 

.profile .profileInfo .skills dd { display: inline-block; position: relative; padding: calc( 100vw * 10 / 1920 ) calc( 100vw * 30 / 1920 ) calc( 100vw * 10 / 1920 ) calc( 100vw * 60 / 1920 ); margin: calc( 100vw * 15 / 1920 ) calc( 100vw * 6 / 1920 ); border: calc( 100vw * 2 / 1920 ) solid rgba(68, 68, 68, 0.747); border-radius: calc( 100vw * 40 / 1920 ); transition: all .3s; user-select: none; cursor: pointer; } 
.profile .profileInfo .skills dd:hover { background: #ffd52f58; border: calc( 100vw * 2 / 1920 ) solid #deb40a; } 

.profile .profileInfo .skills dd:nth-child(2)::before { content: ''; position: absolute; top: calc( 100vw * 8 / 1920 ); left: calc( 100vw * 18 / 1920 ); background: url(../source/icon_js.png) center center no-repeat; background-size: contain; width: calc( 100vw * 38 / 1920 ); height: calc( 100vw * 35 / 1920 ); } 
.profile .profileInfo .skills dd:nth-child(3)::before { content: ''; position: absolute; top: calc( 100vw * 8 / 1920 ); left: calc( 100vw * 18 / 1920 ); background: url(../source/icon_html.png) center center no-repeat; background-size: contain; width: calc( 100vw * 38 / 1920 ); height: calc( 100vw * 35 / 1920 ); } 
.profile .profileInfo .skills dd:nth-child(4)::before { content: ''; position: absolute; top: calc( 100vw * 8 / 1920 ); left: calc( 100vw * 18 / 1920 ); background: url(../source/icon_css.png) center center no-repeat; background-size: contain; width: calc( 100vw * 38 / 1920 ); height: calc( 100vw * 35 / 1920 ); } 
.profile .profileInfo .skills dd:nth-child(5)::before { content: ''; position: absolute; top: calc( 100vw * 8 / 1920 ); left: calc( 100vw * 18 / 1920 ); background: url(../source/icon_jq.png) center center no-repeat; background-size: contain; width: calc( 100vw * 38 / 1920 ); height: calc( 100vw * 35 / 1920 ); } 
.profile .profileInfo .skills dd:nth-child(6)::before { content: ''; position: absolute; top: calc( 100vw * 8 / 1920 ); left: calc( 100vw * 18 / 1920 ); background: url(../source/icon_react.png) center center no-repeat; background-size: contain; width: calc( 100vw * 38 / 1920 ); height: calc( 100vw * 35 / 1920 ); } 
.profile .profileInfo .skills dd:nth-child(7)::before { content: ''; position: absolute; top: calc( 100vw * 8 / 1920 ); left: calc( 100vw * 18 / 1920 ); background: url(../source/icon_three.png) center center no-repeat; background-size: contain; width: calc( 100vw * 38 / 1920 ); height: calc( 100vw * 35 / 1920 ); } 
.profile .profileInfo .skills dd:nth-child(8)::before { content: ''; position: absolute; top: calc( 100vw * 8 / 1920 ); left: calc( 100vw * 18 / 1920 ); background: url(../source/icon_node.png) center center no-repeat; background-size: contain; width: calc( 100vw * 38 / 1920 ); height: calc( 100vw * 35 / 1920 ); } 

.jsHover { background: url(../source/vp_code0.png) no-repeat; width: calc( 100vw * 700 / 1920); height: calc( 100vw * 170 / 1920 ); background-size: cover; border-radius: calc( 100vw * 10 / 1920 ); } 
.cssHover { background: url(../source/css_code0.png) no-repeat; width: calc( 100vw * 300 / 1920); height: calc( 100vw * 350 / 1920 ); background-size: cover; border-radius: calc( 100vw * 10 / 1920 ); } 

.profile .profileInfo .contact dd { display: inline-block; } 
.profile .profileInfo .contact img { width: calc( 100vw * 50 / 1920 ); margin-right: calc( 100vw * 20 / 1920 ); } 

/* -------------------- mystory ---------------------- */
.mystory { padding-bottom: calc( 100vw * 400 / 1920 ); } 
.mystory h2 { color: #EC4636; font-size: calc( 100vw * 50 / 1920 ); font-family: LSpecial } 
.mystory .experience { position: relative; } 
.mystory .experience div { position: absolute; width: calc( 100vw * 500 / 1920 ); padding: calc( 100vw * 50 / 1920 ) 0; background-color: #fff; line-height: 150%; } 
.mystory .experience div h4 { margin-bottom: calc( 100vw * 20 / 1920 ); font-family: LBold; font-size: calc( 100vw * 30 / 1920 ); } 
.mystory .experience .stu_finance { top: calc( 100vw * 400 / 1920 ); right: calc( 100vw * 50 / 1920 ); } 
.mystory .experience .stu_health { top: calc( 100vw * 1000 / 1920 ); left: calc( 100vw * 50 / 1920 ); } 
.mystory .experience .stu_design { top: calc( 100vw * 1500 / 1920 ); right: calc( 100vw * 50 / 1920 ); } 
.mystory .experience .stu_program { top: calc( 100vw * 2820 / 1920 ); left: calc( 100vw * 450 / 1920 ); text-align: center; } 

.mystory .experience .svgLine { display: block; margin: 0 auto; } 
/* .mystory .experience .svgLine .path { stroke-dasharray: 0; stroke-dashoffset: 0; } */

/* ---------------------- getInTouch ------------------------- */

.getInTouch { height: 80vh; display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin-bottom: calc( 100vw * 100 / 1920 ); } 
.getInTouch h2 { color: #EC4636; font-size: calc( 100vw * 50 / 1920 ); font-family: LSpecial; } 

.getInTouch .svgMail circle, .svgMail .svgPath, .svgMail .svgTxt { transition: all .4s; } 
.getInTouch .svgMail:hover { filter: drop-shadow(0 0 calc( 100vw * 8 / 1920 ) #ec4536); } 
.getInTouch .svgMail:hover circle, .svgMail:hover .svgPath { fill: #fff; } 
.getInTouch .svgMail:hover .svgTxt { fill: #ec4536; } 
.getInTouch .svgMail:hover .svgPath { stroke-dashoffset: -13.5; } 


@media screen and (max-width: 768px) {
 .mainBanner article { flex-direction: column; margin-top: 4cap; } 
 .mainBanner .introduce { margin-bottom: 40px; } 
 .mainBanner .introduce p { width: 100%; font-size: 15px; } 
 .mainBanner .introduce p:first-child { font-size: 18px; } 

 .mainBanner .mainVisual { margin-top: 60px; width: 88%; height: 170px; } 
 .mainBanner .mainVisual p:first-child { top: -55px; left: 10px; font-size: 24px; } 
 .mainBanner .mainVisual p:nth-child(2) { top: -45px; left: 110px; font-size: 28px; } 
 .mainBanner .mainVisual p:nth-child(3) { top: 20px; left: 5px; font-size: 22px; } 
 .mainBanner .mainVisual p:nth-child(4) { top: 0; left: 160px; font-size: 22px; } 

 .mainVisual .visual_circle span { width: 9px; height: 9px; border-radius: 50%; } 
.mainVisual .visual_circle span:first-child { top: -10px; left: 40px; background: #EC4636; } 
.mainVisual .visual_circle span:nth-child(2) { top: -60px; left: 160px; background: #FFD72F; } 
.mainVisual .visual_circle span:nth-child(3) { top: 5px; left: 95px; background: #5344FF; } 
.mainVisual .visual_circle span:last-child { top: 40px; left: 190px; background: #EC4636; } 

 .introBanner { height: 22vh; background: url(../source/gradient2_mb.jpg) center center no-repeat; background-size: cover; }
 .introBanner article p { font-size: 17px; } 

 .profile { height: 50vh; }
 .profile.inner { width: 85%;}
 .profile h2 { font-size: 22px; } 
 .profile .profileInfo { flex-direction: column; flex-wrap: nowrap;}

 .profile .profileInfo dl { margin-bottom: 20px; }
 .profile .profileInfo dl dt { font-size: 15px; }
 .profile .profileInfo dl dd { font-size: 13px; }
 .profile .profileInfo dl.education .edu_year { width: auto; }

 .profile .profileInfo .skills dd:nth-child(2)::before { top: 3px; left: 5px; width: 20px; height: 20px; } 
.profile .profileInfo .skills dd:nth-child(3)::before { top: 3px; left: 5px; width: 20px; height: 20px; } 
.profile .profileInfo .skills dd:nth-child(4)::before { top: 3px; left: 5px; width: 20px; height: 20px; } 
.profile .profileInfo .skills dd:nth-child(5)::before { top: 3px; left: 5px; width: 20px; height: 20px; } 
.profile .profileInfo .skills dd:nth-child(6)::before { top: 3px; left: 5px; width: 20px; height: 20px; } 
.profile .profileInfo .skills dd:nth-child(7)::before { top: 3px; left: 5px; width: 20px; height: 20px; } 
.profile .profileInfo .skills dd:nth-child(8)::before { top: 3px; left: 5px; width: 20px; height: 20px; } 

.profile .profileInfo .contact img { width: 28px;}
.profile .profileInfo .cpRight { font-size: 11px; }




 .mystory .experience .svgLine { display: none; } 
 .mystory .experience div { position: relative;}
}
 
 @media screen and (min-width: 1024px) { } 
 
 @media screen and (min-width: 1440px) { body { } 
 
 }