@import './reset.css';

.overview { width: 100vw; height: 100vh; position: relative; display: flex; justify-content: space-around; align-items: center; background: url(../source/projectBg.png) center center no-repeat; background-size: cover; } 
.mainHover { width: calc( 100vw * 80 / 1920 ); height: calc( 100vw * 200 / 1920 ); background: url(../source/downArrow.png) center center no-repeat; background-size: contain; }

.overview article h3 { margin-bottom: calc( 100vw * 30 / 1920 ); font-family: LBold; font-size: calc( 100vw * 50 / 1920 );}
.overview article p { width: calc( 100vw * 1100 / 1920 ); font-size: calc( 100vw * 20 / 1920 ); line-height: 160%; }

/* ------------------------------------------ */
#container { width: 500%; height: 100vh; display: flex; flex-wrap: nowrap; } 

#container .project { width: 100vw; height: 100vh; position: relative; display: flex; justify-content: space-around; align-items: center; background: #1D1B1B; color: #fff; } 
#container .project h3 { display: inline-block; padding: calc( 100vw * 25 / 1920 ) calc( 100vw * 33 / 1920 ); margin-bottom: calc( 100vw * 20 / 1920 ); color: #fff; border: calc( 100vw * 2 / 1920) solid #fff; border-radius: calc( 100vw * 55 / 1920 ); font-size: calc( 100vw * 35 / 1920 ); font-family: LBold; transition: all .3s; } 
#container .project h3:hover { border: calc( 100vw * 2 / 1920) solid #EC4636; } 
#container .project h3:hover a { color: #EC4636; } 
#container .project h3 a { color: #fff; transition: all .3s; } 

#container .project p { width: calc( 100vw * 550 / 1920 ); padding: 0 calc( 100vw * 10 / 1920 ) calc( 100vw * 20 / 1920 ) calc( 100vw * 10 / 1920 ); margin-bottom: calc( 100vw * 30 / 1920 ); border-bottom: calc( 100vw * 1 / 1920 ) solid #ffffff90; font-size: calc( 100vw * 17 / 1920 ); line-height: 165%; } 

#container .project .pro_info { display: inline-block; width: 40%; margin-bottom: calc( 100vw * 25 / 1920 ); padding: 0 calc( 100vw * 10 / 1920 ); } 
#container .project .pro_info dt { margin-bottom: calc( 100vw * 13 / 1920 ); font-size: calc( 100vw * 20 / 1920 ); font-family: LSpecial; } 
#container .project .pro_info dt::first-letter { font-family: LSpecial; } 
#container .project .pro_info dd { font-size: calc( 100vw * 16 / 1920 ); } 


.project .cardImgs .thumbnail0, .thumbnail1, .thumbnail2 { width: calc( 100vw * 800 / 1920 ); height: calc( 100vw * 450 / 1920 ); } 
.projectHover { width: calc( 100vw * 110 / 1920 ); height: calc( 100vw * 110 / 1920 ); background: #fff; mix-blend-mode: difference; transition: width .4s ease, height .4s ease; overflow: hidden; cursor: none; } 

.project .cardImgs { width: calc( 100vw * 800 / 1920 ); display: flex; flex-direction: column; align-items: flex-end; margin-top: calc( 100vw * 30 / 1920 ); } 
.project .cardImgs img { border-radius: calc( 100vw * 10 / 1920 ); } 

.project .cardImgs .content-right { height: 100%; margin-top: calc( 100vw * 20 / 1920 ); } 

.cardImgs .content-right .img_bottom { display: flex; } 
.cardImgs .content-right .img_bottom img { width: calc( 100vw * 90 / 1920 ); height: calc( 100vw * 75 / 1920 ); margin-left: calc( 100vw * 15 / 1920 ); object-fit: cover; object-position: center; transition: all .3s; cursor: pointer; } 
.cardImgs .content-right .img_bottom img:hover { opacity: .75; } 

/* ------------------------------------------------------- */
/* .section01 { background: #e4e4e4; } 
.section02 { background: rgb(198, 198, 198); } 
.section03 { background: #dadada; } */