.p-gradation { min-width: 100%; min-height: 100%; animation: move_gradation 30s ease infinite; position: fixed; top: 0; left: 0; background: linear-gradient(45deg, rgb(225, 77, 48) 0%, rgba(157, 237, 244, 0) 70%), linear-gradient(135deg, rgb(255, 235, 81) 10%, rgba(235, 170, 236, 0) 80%), linear-gradient(225deg, #f59942 10%, rgba(170, 236, 170, 0) 80%), linear-gradient(315deg, #5344ff 100%, rgba(244, 234, 122, 0) 70%); } 

/* ---------------------------------------------------- */
.stuAll { position: absolute; width: 80vw; margin: 0 calc(100vw * 190 / 1920); top: 2%; z-index: 10; } 

.stuAll section { height: calc( 100vw * 900 / 1920 ); margin: calc(100vw * 100 / 1920) 0; padding: calc(100vw * 70 / 1920) calc(100vw * 70 / 1920); background: #ffffff56; border: calc(100vw * 1 / 1920) solid #ffffff65; border-radius: calc(100vw * 50 / 1920); backdrop-filter: blur(3px); line-height: 150%; } 

.stuAll section article { display: flex; justify-content: space-around; align-items: center; margin-bottom: calc( 100vw * 30 / 1920 ); } 
.stuAll section article h3 { width: calc( 100vw * 620 / 1920 ); margin: 0 calc(100vw * 40 / 1920) calc(100vw * 30 / 1920) calc( 100vw * 10 / 1920 ); font-size: calc(100vw * 55 / 1920); font-family: LSpecial; color: #fff; text-shadow: 0 0 calc( 100vw * 5 / 1920 ) rgba(0, 0, 0, 0.333); } 

.stuAll section article p { margin-bottom: calc(100vw * 30 / 1920); font-size: calc(100vw * 18 / 1920); line-height: 150%; color: rgba(0, 0, 0, 0.699); } 

/* --------------------- flip ------------------------- */
.wrapper { width: 100%; display: grid; grid-gap: calc(100vw * 20 / 1920); grid-template-columns: repeat(6, 1fr); } 
.card { display: flex; justify-content: flex-end; flex-direction: column; grid-column: span 3; height: calc(100vw * 270 / 1920); padding: calc(100vw * 40 / 1920) calc(100vw * 55 / 1920); background-color: rgba(255, 255, 255, 0.582); border-radius: calc(100vw * 15 / 1920); box-shadow: calc(100vw * 5 / 1920) calc(100vw * 5 / 1920) calc(100vw * 20 / 1920) #4d4d4d29; cursor: pointer; } 

.card .cardContent { display: flex; overflow-y: scroll; overflow-x: hidden; } 
.card .cardContent img { margin-left: calc( 100vw * 30 / 1920 ); } 

.card h4 { width: 50%; margin: calc( 100vw * 60 / 1920) 0 calc( 100vw * 15 / 1920 ) 0; font-family: LBold; font-size: calc(100vw * 23 / 1920); opacity: .8; } 
.cardTxt { width: 100%; margin-top: calc(100vw * 10 / 1920); font-size: calc(100vw * 18 / 1920); border-radius: calc(100vw * 4 / 1920); line-height: 160%; } 

.card.is-active { grid-row: 1; grid-column: 1/span 6; height: calc(100vw * 350 / 1920); order: 0; } 
.card.is-active h4 { margin: calc( 100vw * 15 / 1920) 0; } 
.card.is-active .cardContent { display: flex; color: #000; } 

.card.is-inactive { grid-column: span 2; } 
.card.is-inactive .cardContent { display: inline-block; } 

/* .js_analog { width: calc( 100vw * 450 / 1920 ); height: calc( 100vw * 220 / 1920); margin: 0 calc( 100vw * 30 / 1920 ) 0 calc( 100vw * 80 / 1920 ); } */

/* ------------------------------------------- */
footer { width: 100vw; margin-left: calc(100vw * -190 / 1920); } 


/* ------------------ responsive --------------------- */

@media screen and (max-width: 768px){
 .stuAll { width: 90vw; margin: 0 20px; } 
 .stuAll section { padding: 20px 25px; height: 480px; overflow-y: scroll; }
 .stuAll section article { flex-direction: column; align-items: flex-start; }
 .stuAll section:first-child { margin-top: 80px;}
 .stuAll section:last-child { margin-bottom: 80px; }

 .stuAll section article h3 { margin: 0 0 15px 0; filter: invert(100%); font-size: 20px; } 
 .stuAll section article p { font-size: 15px; } 

 .wrapper { display: flex; flex-direction: column; }
 .wrapper .card { padding: 10px 15px; margin-bottom: 10px; height: 130px; }
 .card .cardContent { flex-direction: column; }


 .card h4 { margin: 5px 0; width: 100%; font-size: 15px; }
 .cardTxt { font-size: 13px; }



 footer { margin: 50px 0 0 -20px; } 
 }

@media screen and (min-width: 1024px) { body { } 
 }

@media screen and (min-width: 1440px) { body { } 
 }